<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Copy this file to app/src/main/res/values/developer-config.xml and replace the placeholder locally. -->
    <string name="mapbox_access_token" translatable="false">YOUR_PUBLIC_MAPBOX_ACCESS_TOKEN</string>
</resources>
